## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
_ReSharper*/
*.DotSettings.user

## Secrets & env
appsettings.Local.json
appsettings.*.Local.json
*.env
.env
secrets.json

## Logs
logs/
*.log

## Docker
.dockerignore

## OS
.DS_Store
Thumbs.db

## JetBrains
.idea/
*.iml

## VS Code
.vscode/
!.vscode/extensions.json
